<div class="container mt-4">
  <h1>Ventas Filtradas</h1>
  <p><strong>Fecha inicial:</strong> {{formatDate startDate}}</p>
  <p><strong>Fecha final:</strong> {{formatDate endDate}}</p>

  <!-- Resumen de ventas -->
  <div class="card mt-4">
    <div class="card-body">
      <h4 class="card-title">Resumen de ventas</h4>
      <p><strong>Total de ventas:</strong> {{totalSales}}</p>
      <p><strong>Total de ingresos:</strong> ${{totalRevenue}}</p>
    </div>
  </div>

  
</div>