<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Barber App</h1>
      <h3 class="mb-5">
        <em>Descubre el Poder de Barber Control. ¡Bienvenido a la revolución en
          el manejo de citas de barbería! Domina el arte de la experiencia única
          de corte de cabello con nuestra aplicación avanzada.
        </em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        ¿Listo para transformar tu estilo?
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>