<div class="container p-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/appointments/add" method="POST">
            <div class="form-group">
              <label for="cliente">Cliente:</label>
              <select id="client" name="client_id" class="form-control" required>
                {{#each clients}}
                  <option
                    value="{{id}}"
                    data-name="{{fullname}}"
                  >{{fullname}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha:</label>
              <input type="date" name="fecha" class="form-control" id="fecha" />
            </div>
            <div class="form-group">
              <label for="hora">Hora:</label>
              <input type="time" name="hora" class="form-control" id="hora" />
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción:</label>
              <select name="descripcion" class="form-control">
                <option value="Corte">Corte</option>
                <option value="Barba">Barba</option>
                <option value="Cejas">Cejas</option>
                <option value="Corte + Barba">Corte + Barba</option>
                <option value="Corte + Cejas">Corte + Cejas</option>
                <option value="Cejas + Barba">Cejas + Barba</option>
                <option value="Servicio Completo">Servicio Completo</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Guardar Cita
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>