<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-body">
      <form action="/appointments/edit/{{appointment.id}}" method="POST">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="{{appointment.name}}"
            autofocus />
        </div>
        <div class="form-group">
          <label for="fecha">Fecha:</label>
          <input type="date" name="fecha" class="form-control" value="{{formatDateAux appointment.date}}" />
        </div>
        <div class="form-group">
          <label for="hora">Hora:</label>
          <input type="time" name="hora" class="form-control" value="{{appointment.time}}" />
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <select name="descripcion" class="form-control">
            <option value="Corte" {{#isEqual appointment.description "Corte" }}selected{{/isEqual}}>Corte</option>
            <option value="Barba" {{#isEqual appointment.description "Barba" }}selected{{/isEqual}}>Barba</option>
            <option value="Cejas" {{#isEqual appointment.description "Cejas" }}selected{{/isEqual}}>Cejas</option>
            <option value="Corte + Barba" {{#isEqual appointment.description "Corte + Barba" }}selected{{/isEqual}}>
              Corte + Barba</option>
            <option value="Corte + Cejas" {{#isEqual appointment.description "Corte + Cejas" }}selected{{/isEqual}}>
              Corte + Cejas</option>
            <option value="Servicio Completo" {{#isEqual appointment.description "Servicio Completo"
              }}selected{{/isEqual}}>Servicio Completo</option>
            <!-- Otras opciones aquí -->
          </select></select>
        </div>
        <div class="form-group">
          <button class="btn btn-success btn-block">
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>